@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --neon-blue: #00ccff;
    --neon-pink: #ff0099;
    --neon-green: #00ff00;
    --neon-purple: #cc00ff;
    --neon-yellow: #ffff00;
    --neon-orange: #ff9900;
    --neon-red: #ff0000;
    --neon-turquoise: #00ffcc;
    --neon-violet: #9900cc;
    --neon-teal: #00ff99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Teko', 'Oswald', sans-serif;
    overflow: hidden;
    background-color: #0c192c;
}

::-webkit-scrollbar {
    display: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    background-color: #00000060;
    height: 8.8vh;
    z-index: 999;
    cursor: pointer;
}

.nav-bar .logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vh;
}

.nav-bar .logo i {
    display: none;
}

.logo-glow {
    color: #fff;
    text-align: center;
    animation: glow1 1s ease-in-out infinite alternate;
    transition: .2s ease-in-out;
}

@keyframes glow1 {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #e60073, 0 0 10px #e60073, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073;
    }

    to {
        text-shadow: 0 0 4px #fff, 0 0 10px #ff4da6, 0 0 214px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6;
    }
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #00e6e6, 0 0 10px #00e6e6, 0 0 15px #00e6e6, 0 0 20px #00e6e6, 0 0 25px #00e6e6;
    }

    to {
        text-shadow: 0 0 4px #fff, 0 0 10px #57ffff, 0 0 214px #57ffff, 0 0 15px #57ffff, 0 0 20px #57ffff, 0 0 25px #57ffff, 0 0 30px #57ffff;
    }
}

.nav-bar .logo h1:hover {
    transform: scale(1.1);
}

#marker {
    position: absolute;
    bottom: 0;
    height: 120%;
    width: 6.2rem;
    /* margin: 0rem 40rem .3rem 2rem; */

    border-bottom: 5px solid #08f9ff;
    background: linear-gradient(0deg, #08f9ff33, transparent);
    transition: .7s;
    pointer-events: none;
    filter: drop-shadow(0 5px 25px #08f9ff);
}

.nav-bar .nav-ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-ul li {
    transition: .2s ease-in-out;
}

.nav-ul li a {
    font-size: 3.3vh;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3.3vh;
    transition: .2s ease-in-out;
}

.nav-ul li:hover a {
    color: var(--neon-orange);
}

.nav-ul li:hover {
    /* background-color: aqua; */
    border-radius: 30px;
}

.reg-now button {
    background-color: cyan;
    padding: 1.5vh;
    border: none;
    font-size: 3vh;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    transition: .7s;
    cursor: pointer;
}

.reg-now button:hover {
    box-shadow:
        0 0 15px cyan,
        0 0 15px cyan,
        0 0 15px #ed69ab,
        0 0 15px cyan,
        0 0 15px #ed69ab;
}

.page-group {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.home,
.about,
.events,
.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    z-index: 20;
}

.events {
    height: fit-content;
}

.about,
.events,
.rules {
    /* padding-top: 3.5rem; */
    padding-top: 7.7vh;
}

.home {
    cursor: pointer;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.bubbles span {
    position: relative;
    min-width: 30px;
    height: 30px;
    background: #4fc3dc;
    border-radius: 50%;
    box-shadow: 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    margin: 0 4px;
    animation: animate 1s linear infinite;
    animation-duration: calc(75s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.home .home-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* background-color: rgba(172, 255, 47, 0.259); */
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.home .home-text h1 {
    font-size: 20vh;
    line-height: 1.3;
    font-weight: bold;
    color: cyan;
    /* color: var(--neon-orange); */
    text-align: center;
    text-transform: uppercase;
    margin: -2rem 0 -2rem 0;
    /*vh*/

    text-shadow:
        0 1px 0 #92c7d2,
        0 2px 0 #92c7d2,
        0 3px 0 #92c7d2,
        0 4px 0 #92c7d2,
        0 5px 0 #92c7d2,
        0 6px 0 #92c7d2,
        0 7px 0 #92c7d2,
        0 8px 0 #92c7d2,
        1px 5px 10px rgba(16, 16, 16, 0.3),
        1px 20px 20px rgba(16, 16, 16, 0.3),
        1px 25px 40px rgba(16, 16, 16, 0.3),
        1px 30px 80px rgba(16, 16, 16, 0.3);
}

.home .home-text h3 {
    color: var(--neon-yellow);
    font-size: 8.8vh;
    font-weight: 400;
    /* animation: glow1 1s ease-in-out infinite alternate; */
    transition: .2s ease-in-out;
}

.home .home-text p {
    font-family: "Poppins", sans-serif;
    color: var(--neon-teal);
    /* color: var(--neon-violet); */
    font-size: 4vh;
    letter-spacing: 1px;
    text-align: center;
}

.home .reg-now {
    display: none;
}

.about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* background-color: green; */
}

.about-cont {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    /* padding: 0 4vh 0 4vh; */
    border: 2px solid #00ff00;
    border-radius: 10px;
    z-index: 20;
    transform-style: preserve-3d;
    /* text-shadow: 2px 2px 4px rgba(255, 251, 251, 0.5); */

    background-color: #171717;
    width: 92%;
    /* height: 100%; */
    padding: 2vh 4vh 2vh 4vh;
}

.about-cont::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px, 0px, -1px);
    clip-path: polygon(-100vmax -100vmax, 100vmax -100vmax, 100vmax 100vmax, -100vmax 100vmax, -100vmax -100vmax, 0 0, 0 100%, 100% 100%, 100% 0, 0 0);
    pointer-events: none;
    display: none;
}

.about-cont h1 {
    color: var(--neon-teal);
    /* color: var(--neon-orange); */
    /* color: #FF4655; */
    font-size: 8.88vh;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    /* text-shadow: 2px 2px 4px rgba(255, 251, 251, 0.5); */

    color: #03deee;
    line-height: 8vh;
    margin-bottom: 1.5vh;
}

.about-cont p {
    font-family: 'Quicksand', sans-serif;
    color: #ffe0e0;
    font-size: 2.8vh;
    font-weight: 600;
    text-align: justify;
    word-spacing: 1.9px;
    letter-spacing: .7px;
    /* text-shadow: 2px 2px 4px rgba(255, 251, 251, 0.5); */

    text-align: justify;
}

.events {
    background-color: transparent;
    align-items: start;
    /* background-color: greenyellow; */
}

.events .box-main {
    display: inherit;
    flex-direction: column;
    /* background-color: #1717179b; */
    background-color: transparent;
    backdrop-filter: blur(2px);
    /* border: var(--neon-blue) .1px solid; */
    align-items: center;
    border-radius: 10px;
    width: 92%;
    height: 90%;
    padding: 0rem 2rem 0 2rem;
    z-index: 1;
}

.events .box-main h1 {
    color: #FF4655;
    /* color: var(--neon-pink); */
    z-index: -1;
    font-size: 11.5vh;
    font-weight: 900;
    /* margin-top: -3.6rem; */
    text-transform: uppercase;
    animation: glow2 1s ease-in-out infinite alternate;
}

.events .box-main .box-cont {
    /* background-color: #00ccff; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 8vh;
    width: 100%;
    height: 100%;
}

.events .box-main .box-cont .box {
    margin-top: 2vh;
    border-radius: 10px;
    border: 3px solid cyan;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38vh;
    height: 45vh;
    transform-style: preserve-3d;
    cursor: pointer;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: conic-gradient(from 90deg at 40% 50%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px, 0px, -1px);
    clip-path: polygon(-100vmax -100vmax, 100vmax -100vmax, 100vmax 100vmax, -100vmax 100vmax, -100vmax -100vmax, 0 0, 0 100%, 100% 100%, 100% 0, 0 0);
    pointer-events: none;
}

.box .img-box {
    /* background-color: var(--neon-green); */
    background-color: #171717;
    border-radius: 100%;
    margin-top: -12vh;
    height: 15vh;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .img-box img {
    border-radius: 100%;
    height: 14vh;
    width: 14vh;
    /* overflow: hidden; */
    object-fit: fill;
    /* align-items: center; */
}

.box .evnt-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    letter-spacing: .5px;
    line-height: 4.5vh;
    /* background-color: #9900cc; */
}

.box p {
    color: #fff;
    font-size: 4vh;
    /* background-color: #00ff00; */
}

.box .btn {
    /* color: var(--neon-orange); */
    color: #fff;
    margin-bottom: -9vh;
    margin-top: 4vh;
    background-color: #440156;
    height: 6vh;
    width: 20vh;
    border-radius: 10px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.rules-container {
    /* background-color: #00ff00; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    height: 94%;
    z-index: 1;
    /* margin-bottom: 10rem; */
}

.ribbon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* background-color: #cc00ff; */
}

.ribbon {
    --s: 5vh;
    /* the ribbon size */
    --d: 1.7vh;
    /* the depth */
    --c: 1.7vh;
    /* the cutout part */

    padding: 0 calc(var(--s) + 40vh) var(--d);
    /* line-height: 1.8; */
    background:
        conic-gradient(at left var(--s) bottom var(--d),
            #0000 25%, #0008 0 37.5%, #0004 0) 0 /50% 100% no-repeat,
        conic-gradient(at right var(--s) bottom var(--d),
            #0004 62.5%, #0008 0 75%, #0000 0) 100%/50% 100% no-repeat;
    clip-path: polygon(0 var(--d), var(--s) var(--d), var(--s) 0, calc(100% - var(--s)) 0, calc(100% - var(--s)) var(--d), 100% var(--d), calc(100% - var(--c)) calc(50% + var(--d)/2), 100% 100%, calc(100% - var(--s) - var(--d)) 100%, calc(100% - var(--s) - var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) 100%, 0 100%, var(--c) calc(50% + var(--d)/2));
    background-color: #CC333F;
    /* the main color */
    color: #fff;
}

.ribbon h1 {
    font-size: 5.2vh;
}

.rules-grp {
    /* background-color: #ff9900; */
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 75%;
    /* height: fit-content; */
    padding: 2.22vh 2.22vh 2.22vh 6.66vh;
    margin-top: -1.3vh;
    color: #fff;
    font-size: 2.66vh;
    line-height: 4.2vh;
    word-spacing: .27vh;
    letter-spacing: .4px;
    /* text-shadow: 2px 2px 4px rgba(255, 251, 251, 0.5); */
    border: 4px solid var(--neon-orange);
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-top: none;
}

.rules-grp::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px, 0px, -1px);
    clip-path: polygon(-100vmax -100vmax, 100vmax -100vmax, 100vmax 100vmax, -100vmax 100vmax, -100vmax -100vmax, 0 0, 0 100%, 100% 100%, 100% 0, 0 0);
    pointer-events: none;
}

.rules-grp ul {
    list-style: decimal;
}

.contact h1 {
    font-size: 5.6vh;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    background-color: #000;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-top: 11.2vh;
}

.contact .box-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
}

.contact h1 {
    color: var(--neon-turquoise);
}

.contact .box1 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    text-shadow: 2px 2px 4px rgba(255, 251, 251, 0.5);
    /* background-color: #00ccff; */
}

.contact .map {
    padding: 2.2vh 0 2.2vh 0;
    height: 100%;
    width: 30%;
    transition: all ease-in-out .2s;
    overflow: hidden;
}


.contact .map:hover {
    transform: scale(1.1);
}

.contact .map iframe {
    border-radius: 10px;
}

.contact .links {
    /* background-color: #00ccff; */
    height: 100%;
    list-style: none;
    color: #fff;
}

.contact .links h1 {
    padding-bottom: 2.2vh;
}

.contact-us h1 {
    padding-bottom: 2.2vh;
}

.contact .links li a {
    text-decoration: none;
    color: #fff;
    font-size: 2.6vh;
    line-height: 4vh;
    padding-left: .4vh;
    font-weight: 600;
    transition: all ease-in-out .2s;
}

.contact .links li a:hover {
    padding-left: 2.22vh;
    color: var(--neon-orange);
}

.contact .contact-us {
    /* background-color: #00ff00; */
    height: 100%;
}

.contact .contact-us .address p {
    font-size: 2.5vh;
}

.contact .contact-us .address {
    line-height: 3.4vh;
}

.cn {
    font-size: 3.2vh;
    font-weight: 600;
    text-transform: uppercase;
}

.box2 {
    text-align: center;
}

.box2 a {
    height: 6vh;
    width: 6vh;
    line-height: 6vh;
    font-size: 3.5vh;
    color: black;
    background: white;
    margin: 0 .66vh;
    border-radius: 50%;
    text-decoration: none;
    transition: all ease-in-out .2s;
}

.box2 a:hover {
    background: var(--neon-orange);
    color: #fff;
}

@media (max-width:600px) {
    .nav-bar .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5vh;
        /* background-color: #00ccff; */
        width: 100%;
    }

    .nav-bar .logo h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4.5vh;
    }

    .nav-bar .logo i {
        display: flex;
        color: #fff;
        background-color: #00ff00;
    }

    .nav-bar .reg-now {
        display: none;
    }

    .nav-bar .nav-ul {
        display: none;
    }

    #marker {
        display: none;
    }

    /* Page Group */
    .page-group {
        height: 100%;
    }

    /*Home*/

    .home {
        /* background-color: #00ccff; */
    }

    .home .home-text h1 {
        font-size: 10vh;
        margin: -3vh 0 1vh 0;
        line-height: 1;
    }

    .home .home-text h3 {
        font-size: 5vh;
    }

    .home .home-text p {
        /* background-color: #00ffcc; */
        font-family: "Poppins", sans-serif;
        /* font-family:  "Roboto", sans-serif; */
        font-size: 2.2vh;
        margin: 1.8vh 0 1.8vh 0;
        letter-spacing: .5px;
    }

    .home .reg-now {
        /* background-color: #00ff00; */
        display: flex;
        margin-top: 1rem;
    }

    .home .reg-now button {
        font-weight: 800;
        animation: zoom 1s ease-in-out infinite alternate;
    }

    @keyframes zoom {
        0% {
            scale: 1;
        }

        100% {
            scale: 1.1;
        }
    }

    /*About*/

    .about {
        /* background-color: #08f9ff; */
        height: fit-content;
    }


    .about .about-cont {
        background-color: #171717;
        width: 92%;
        height: 100%;
        padding: 3vh 2vh 3vh 2vh;
    }

    .about-cont::before {
        display: none;
    }

    .about .about-cont h1 {
        color: #03deee;
        font-size: 4vh;
        line-height: 4.5vh;
        margin-bottom: 1.5vh;
        text-shadow: none;
    }

    .about .about-cont p {
        /* color: #000; */
        text-align: justify;
        font-size: 2vh;
        letter-spacing: 0px;
        font-weight: 600;
        word-spacing: 0px;
        text-shadow: none;
    }

    /*--Events--*/

    .events {
        height: fit-content;
    }

    .events .box-main .box-cont {
        padding-bottom: 1px;
    }

    .events .box-main .box-cont .box {
        margin-bottom: 4vh;
        width: 33vh;
    }

    .events .evnt-name .btn{
        font-weight: 900;
    }

    /*--Rules--*/

    .rules {
        /* background-color: #00ccff; */
    }

    .rules .rules-container {
        /* background-color: #00ff00; */
        width: 100%;
    }

    .rules .rules-container .ribbon-box {
        /* background-color: #440156; */
        width: 100%;
    }

    .rules .rules-container .ribbon-box .ribbon {
        /* display: none; */
    }

    .ribbon {
        --s: 4.5vh;
        /* the ribbon size */
        --d: 1.7vh;
        /* the depth */
        --c: 1.7vh;
        /* the cutout part */

        padding: 0 calc(var(--s) + 2vh) var(--d);
        line-height: 8vh;
        background:
            conic-gradient(at left var(--s) bottom var(--d),
                #0000 25%, #0008 0 37.5%, #0004 0) 0 /50% 100% no-repeat,
            conic-gradient(at right var(--s) bottom var(--d),
                #0004 62.5%, #0008 0 75%, #0000 0) 100%/50% 100% no-repeat;
        clip-path: polygon(0 var(--d), var(--s) var(--d), var(--s) 0, calc(100% - var(--s)) 0, calc(100% - var(--s)) var(--d), 100% var(--d), calc(100% - var(--c)) calc(50% + var(--d)/2), 100% 100%, calc(100% - var(--s) - var(--d)) 100%, calc(100% - var(--s) - var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) 100%, 0 100%, var(--c) calc(50% + var(--d)/2));
        background-color: #CC333F;
        /* the main color */
        color: #fff;
        text-align: center;
        width: 100%;
    }

    .ribbon h1{
        font-size: 4vh;
    }
    
    .rules .rules-grp {
        font-family: 'Quicksand', sans-serif;
        font-weight: 900;
        width: 100%;
        /* height: fit-content; */
        margin-top: 2vh;
        padding: 1vh 1vh 1vh 3.7vh;
        color: #fff;
        font-size: 3vh;
        line-height: 3vh;
        word-spacing: 2px;

        border-radius: 10px;
        border: #00ff00 solid 1px;
        width: 95%;
        background-color:#2d2d2d91;
        backdrop-filter: blur(0px);
        font-size: smaller;
    }

    .rules .rules-grp ul li{
        font-size: 2vh;
    }

    .rules-grp::before {
        display: none;
    }

    .contact {
        display: none;
    }
}