.events {
    display: flex;
    background-color: transparent;
    /* background-color: red; */
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swiper {
    width: 65%;
    margin-top: 7.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #00e6e6, 0 0 10px #00e6e6, 0 0 15px #00e6e6, 0 0 20px #00e6e6, 0 0 25px #00e6e6;
    }

    to {
        text-shadow: 0 0 4px #fff, 0 0 10px #57ffff, 0 0 20px #57ffff, 0 0 15px #57ffff, 0 0 20px #57ffff, 0 0 25px #57ffff, 0 0 30px #57ffff;
    }
}

.it h1 {
    color: #fc2f88;
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    animation: glow2 1s ease-in-out infinite alternate;
}

.sc h1 {
    color: #fe9634;
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    animation: glow2 1s ease-in-out infinite alternate;
}

.swiper .swiper-slide {
    margin-top: 2vh;
    border-radius: 10px;
    border: 4px ridge cyan;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38vh;
    height: 50vh;
    transform-style: preserve-3d;
    font-family: 'Teko', 'Oswald', sans-serif;
}

.swiper .swiper-slide::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: conic-gradient(from 90deg at 50% 50%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px, 0px, -1px);
    clip-path: polygon(-100vmax -100vmax, 100vmax -100vmax, 100vmax 100vmax, -100vmax 100vmax, -100vmax -100vmax, 0 0, 0 100%, 100% 100%, 100% 0, 0 0);
    pointer-events: none;
}

.swiper .swiper-slide .img-box {
    background-color: #171717;
    border-radius: 100%;
    /* margin-top: -1vh; */
    height: 17vh;
    width: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff solid 7px;
}

.swiper .swiper-slide .img-box img {
    border-radius: 100%;
    height: 16vh;
    width: 16vh;
    object-fit: fill;
}

.swiper .swiper-slide .evnt-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    letter-spacing: .5px;
    line-height: 4.5vh;
}

.swiper .swiper-slide p {
    color: #fff;
    font-size: 4vh;
    margin: 0;
}

.swiper .swiper-slide .btn {
    color: #fff;
    margin-top: 4vh;
    background-color: #ff0099;
    height: 6vh;
    width: 20vh;
    border-radius: 10px;
    border: 3px ridge #fff;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.it .swiper-slide {
    background-image: url(imgs/bg1.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sc .swiper-slide {
    background-image: url(imgs/bg2.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sc .swiper-slide .btn {
    background-color: #fb9f0c;
}

.swiper-button-next {
    color: white;
}

.it .swiper-pagination-bullet {
    background-color: #ff0099;
}

.sc .swiper-pagination-bullet {
    background-color: #ff9900;
}

@media (max-width:600px) {
    .swiper {
        width: 96%;
        margin-top: 7.7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: blue; */
        height: 65vh;
    }

    .swiper .swiper-slide {
        margin-top: 0vh;
        border-radius: 10px;
        border: 4px ridge cyan;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30vh;
        height: 45vh;
        transform-style: preserve-3d;
        font-family: 'Teko', 'Oswald', sans-serif;
    }
}
